output_files
incremental_db
db
core
.qsys_edit
core.sopcinfo
*.stp
.cproject
.project
language.settings.xml
.settings
HAL
drivers
system.h
alt_sys_init.c
linker.h
linker.x
mem_init.mk
memory.gdb
public.mk
summary.html
nios_dev.elf
nios_dev.map
mem_init
obj
.force_rebuild_all
*.a
*.objdump
.force_relink
